extends layout

block content
  h1.title(id="title") Add drink
  div.datacontainer
    form#formAddDrink.addform(name="adddrink", method="post", action="add")
      input#inputName.addinput(type="text", placeholder="Drink Name", name="name")
      br
      input#inputIngrOne.addinput(type="text", placeholder="Ingredient One", name="ingr1")
      input#inputIngrOneParts.addinput(type="text", placeholder="Parts", name="ingr1part")
      br
      input#inputIngrTwo.addinput(type="text", placeholder="Ingredient Two", name="ingr2")
      input#inputIngrTwoParts.addinput(type="text", placeholder="Parts", name="ingr2part")
      br
      input#inputIngrThree.addinput(type="text", placeholder="Ingredient Three", name="ingr3")
      input#inputIngrThreeParts.addinput(type="text", placeholder="Parts", name="ingr3part")
      br
      input#inputIngrFour.addinput(type="text", placeholder="Ingredient Four", name="ingr4")
      input#inputIngrFourParts.addinput(type="text", placeholder="Parts", name="ingr4part")
      br
      input#inputDir.addinput(type="text", placeholder="Directions", name="directions")
      br
      button#btnSubmit.addsubmit(type="submit") Add Drink

block scripts