extends layout

block content
  script(type='text/javascript').
    var curDrink = "#{name}"
  h1.title(id="title")
  div.datacontainer
    div.ingredients
      ul.ingredientlist(id="ingredientlist")
    canvas.chart(id="ingredientChart")
  hr.linebreak(id="linebreak")
  div.description(id="description")
    h2 Directions

block scripts
  script(src='/javascripts/showDrinkRecipe.js')