extends layout

block content
  script(type='text/javascript').
    var curDrink = "#{name}"
  h1.title(id="title") #{name}
  div.datacontainer
    div.ingredients
      ul.ingredientlist(id="ingredientlist")
    canvas.chart(id="ingredientChart")
  div.description(id="description")

block scripts
  script(src='/javascripts/jquery-2.1.3.min.js')
  script(src='/javascripts/jquery-ui-1.11.4/jquery-ui.min.js')
  script(src='/javascripts/showDrinkRecipe.js')