extends layout

block content
  #colorlist.colorlist

block scripts
  script(src='/javascripts/spectrum.js')
  script(src='/javascripts/listcolors.js')
  link(rel='stylesheet', href='/javascripts/spectrum.css')