extends layout

block content
  h1.title(id="title") iThirst
  h2 What's in stock?
  div.searcharea(id="searcharea")
    input(id="ingredients" placeholder="Search...")
    a +
  div.ingredientshelf

block scripts
  script(src='/javascripts/mainSearch.js')