doctype html
html
  head
    title= iThirst
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
      div.headerlinks
        div.home.link
          a Home
        div.drinks.link
          a Drinks
      div.ui-widget
        input(id="tags" placeholder="Search...")
    div.container
      div.content
        block content
      div.footer Please use and drink responsibly.
  block scripts